# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
release/

# Turbo
.turbo/

# Misc
.DS_Store
*.pem
.dev-port
.web-port

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Package manager locks (using pnpm)
package-lock.json
yarn.lock

# Local env files
.env
.env*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron
packages/desktop/dist/
packages/desktop/release/

# PWA
packages/web/dist/
packages/web/dist-ssr/
packages/web/*.local

# Server
packages/server/dist/
packages/server/.env

**/playwright-report/**
**/test-results/**

# E2E test exit status file
**/.exit-status

target/
